# Diretórios a serem ignorados
bin/
obj/
packages/
TestResults/
.vs/

# Arquivos a serem ignorados
*.vshost.exe
*.suo
*.user
*.dbmdl
*.publishsettings

# Arquivos específicos do Blazor
*.code-behind
*.designer.cs
*.razor